<ion-view view-title="Painel de Controle">
  <ion-content>
    <div class="row responsive-sm">
      <div class="col">
        <label class="item item-input">
          <span class="input-label">ID</span>
          <input type="number">
        </label>
      </div>
      <div class="col">
        <label class="item item-input">
          <span class="input-label">Nome</span>
          <input type="text">
        </label>
      </div>
    </div>

    <div class="row responsive-sm">
      <div class="col">
        <label class="item item-input">
          <span class="input-label">Descrição</span>
          <input placeholder="Informe a descrição" type="text">
        </label>
      </div>
    </div>

    <div class="row responsive-sm">
      <div class="col">
        <label class="item item-input">
          <span class="input-label">Descrição</span>
          <input type="date">
        </label>
      </div>
    </div>


    <div class="row responsive-sm">
      <div class="col">
        <button class="button button-block button-positive" ng-click="">Salvar</button>
      </div>
      <div class="col">
        <button class="button button-block button-assertive" ng-click="">Limpar</button>
      </div>
    </div>

  </ion-content>
</ion-view>
